* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* HEADER  */

header {
  height: 100px;
}

/* DEBUG  */

.debug header {
  background-color: aqua;
}
.debug .col {
  height: 100px;
  background-color: red;
  border: 1px solid;
}

.debug #primo-div {
  height: 400px;
  background-color: mediumaquamarine;
}

.debug #primo-div .container {
  background-color: yellow;
  height: 100%;
}

.debug #portfolio .container {
  background-color: orange;
}

.debug #portfolio {
  background-color: green;
}

.debug #about {
  background-color: violet;
}

.debug #about .container {
  background-color: purple;
}
