* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

/* HEADER  */

header {
  background-color: rgb(3, 15, 46);
}

/* MAIN  */

#avatar {
  height: 300px;
}

main img {
  height: 250px;
  padding: 15px 0;
}

/* FOOTER  */
#copyright {
  height: 100px;
  line-height: 100px;
}
/* DEBUG  */

.debug header {
  background-color: aqua;
}
.debug .col {
  height: 100px;
  background-color: red;
  border: 1px solid;
}

.debug #primo-div {
  height: 200px;
  background-color: mediumaquamarine;
}

.debug #primo-div .container {
  background-color: yellow;
  height: 100%;
}

.debug #portfolio .container {
  background-color: orange;
}

.debug #portfolio {
  background-color: green;
}

.debug #about {
  background-color: violet;
}

.debug #about .container {
  background-color: purple;
}

#cabin_img {
  border: 1px solid;
}

.ms_stella-linea {
  width: 100px;
  height: 3px;
}

.ms_input {
  border: none;
}

.ms_color {
  color: greenyellow;
}
